body {
    font-family: "Lora" , serif !important;
    font-weight: 400;
    font-style: normal;
  font-weight: 400;

}

.btn-no-background {
    background-color: #fff;
    border: 1px solid #007bff; /* Puedes ajustar el color del borde */
    color: #007bff; /* Puedes ajustar el color del texto */
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    cursor: pointer;
}

.btn-no-background:hover {
    background-color: #007bff;
    color: #fff;
}

/* Asegúrate de que todos los elementos tengan un ancho máximo del 100% */
* {
    max-width: 100%;
    box-sizing: border-box;
}

/* Ajusta el contenedor principal */
.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

/* Ajusta la barra de navegación */
.navbar {
    width: 100%;
    overflow: hidden;
}

/* Asegúrate de que las imágenes no se desborden */
img {
    max-width: 100%;
    height: auto;
}

/* Ajusta los botones */
button {
    max-width: 100%;
}

/* Ajusta los enlaces de navegación */
.nav-item {
    white-space: nowrap;
}

body {
    background-color: #ECF0F1; /* Fondo gris claro */
    color: #2C3E50; /* Texto principal en azul marino */
    font-family: Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    color: #2C3E50; /* Encabezados en azul marino */
}

a {
    color: #27AE60; /* Enlaces en verde esmeralda */
}

a:hover {
    color: #F39C12; /* Enlaces al pasar el ratón en amarillo mostaza */
}



.btn-primary {
    background-color: #27AE60; /* Fondo verde esmeralda para botones */
    color: #FFFFFF; /* Texto blanco */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #2C3E50; /* Fondo azul marino al pasar el ratón */
}

.container {
    position: relative;
}
