{% extends 'base.html'%}

{%block content%}
{%load static%}
<title> Your Search Results </title>
  

<div class="container ms-auto" style="margin-top:50px;">
    <div class="row">

        <h2 class="category-title text-center" style="font-family:Poppins; font-weight:600;"> Libros  {{books.cat}} </h2>


    </div>
    <hr class="align:center"/>
    <div class="row">
        {%if not books%}

        <p class="text text-center"> No encontramos ese libro </p>
        <p>Buscar con otras palabras </p>

        {%else%}

        {% include 'books-movil.html' %}


        {%endif%}

</div>



</div>




{%endblock content%}